<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <div class="card text-center mt-5">
    <div class="card-header">
      Welcome  Coder's
    </div>
    <div class="card-body">
      <h5 class="card-title mb-5">This is <%=users%>'s' homepage</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a href="/logout" class="btn btn-primary">logout</a>
    </div>
  </div>
</body>
</html>